<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aboutbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,103},{568,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,293}}</string>
                <key>sourceSize</key>
                <string>{568,293}</string>
            </dict>
            <key>aside.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,25}}</string>
                <key>sourceSize</key>
                <string>{136,25}</string>
            </dict>
            <key>biaotidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{322,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,65}}</string>
                <key>sourceSize</key>
                <string>{322,65}</string>
            </dict>
            <key>face2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{226,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,282}}</string>
                <key>sourceSize</key>
                <string>{226,282}</string>
            </dict>
            <key>open0.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{256,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>openbg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{854,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{854,480}}</string>
                <key>sourceSize</key>
                <string>{854,480}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>begin.png</string>
            <key>size</key>
            <string>{858,880}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b0ee976fb54d3a3b49b34322fe421fd:67850d2539638f23f1e75fc1da413c1d:041cab572281938af17182556250dd5b$</string>
            <key>textureFileName</key>
            <string>begin.png</string>
        </dict>
    </dict>
</plist>
