<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{854,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{854,480}}</string>
                <key>sourceSize</key>
                <string>{854,480}</string>
            </dict>
            <key>tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{464,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,226}}</string>
                <key>sourceSize</key>
                <string>{464,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>load.png</string>
            <key>size</key>
            <string>{1324,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2131d9e04a1390d27b446b100729b63b:def84571f8a1286a1677809bd6c29a3c:3161f6e26cbac4ff944c17b495cfd273$</string>
            <key>textureFileName</key>
            <string>load.png</string>
        </dict>
    </dict>
</plist>
