<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aboutbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,69},{568,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,293}}</string>
                <key>sourceSize</key>
                <string>{568,293}</string>
            </dict>
            <key>anniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{116,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,53}}</string>
                <key>sourceSize</key>
                <string>{116,53}</string>
            </dict>
            <key>anniu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{116,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,53}}</string>
                <key>sourceSize</key>
                <string>{116,53}</string>
            </dict>
            <key>bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{348,364},{854,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{854,480}}</string>
                <key>sourceSize</key>
                <string>{854,480}</string>
            </dict>
            <key>biaotidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{322,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,65}}</string>
                <key>sourceSize</key>
                <string>{322,65}</string>
            </dict>
            <key>cloud0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{333,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,96}}</string>
                <key>sourceSize</key>
                <string>{333,96}</string>
            </dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{172,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,64}}</string>
                <key>sourceSize</key>
                <string>{172,64}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,35}}</string>
                <key>sourceSize</key>
                <string>{109,35}</string>
            </dict>
            <key>guankaxuanze.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,69},{290,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,241}}</string>
                <key>sourceSize</key>
                <string>{290,241}</string>
            </dict>
            <key>kaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,2},{151,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,57}}</string>
                <key>sourceSize</key>
                <string>{151,57}</string>
            </dict>
            <key>wujin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{344,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,301}}</string>
                <key>sourceSize</key>
                <string>{344,301}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1204,846}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18a0e9866d83b9098628272e14e1c6c5:3f173c434c1c82da0be1bc9bef7f446c:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
