<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ChengHuLu.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,128},{61,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,96}}</string>
                <key>sourceSize</key>
                <string>{61,96}</string>
            </dict>
            <key>HongHuLu.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,128},{61,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,96}}</string>
                <key>sourceSize</key>
                <string>{61,96}</string>
            </dict>
            <key>HuangHuLu.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,128},{61,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,96}}</string>
                <key>sourceSize</key>
                <string>{61,96}</string>
            </dict>
            <key>LanHuLu.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,128},{61,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,96}}</string>
                <key>sourceSize</key>
                <string>{61,96}</string>
            </dict>
            <key>LvHuLu.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,128},{61,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,96}}</string>
                <key>sourceSize</key>
                <string>{61,96}</string>
            </dict>
            <key>ZiHuLu.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,128},{61,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,96}}</string>
                <key>sourceSize</key>
                <string>{61,96}</string>
            </dict>
            <key>anniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,50},{116,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,53}}</string>
                <key>sourceSize</key>
                <string>{116,53}</string>
            </dict>
            <key>anniu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,50},{116,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,53}}</string>
                <key>sourceSize</key>
                <string>{116,53}</string>
            </dict>
            <key>boshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,2},{123,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,46}}</string>
                <key>sourceSize</key>
                <string>{123,46}</string>
            </dict>
            <key>bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{9,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,21}}</string>
                <key>sourceSize</key>
                <string>{9,21}</string>
            </dict>
            <key>bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{13,2},{9,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,21}}</string>
                <key>sourceSize</key>
                <string>{9,21}</string>
            </dict>
            <key>chognxinkaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{96,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,29}}</string>
                <key>sourceSize</key>
                <string>{96,29}</string>
            </dict>
            <key>cp0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,128},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>deitybutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,50},{107,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,56}}</string>
                <key>sourceSize</key>
                <string>{107,56}</string>
            </dict>
            <key>ding.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,2},{361,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,44}}</string>
                <key>sourceSize</key>
                <string>{361,44}</string>
            </dict>
            <key>fanhuiditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,2},{95,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,29}}</string>
                <key>sourceSize</key>
                <string>{95,29}</string>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{733,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{733,453}}</string>
                <key>sourceSize</key>
                <string>{733,453}</string>
            </dict>
            <key>gettitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{327,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,47}}</string>
                <key>sourceSize</key>
                <string>{327,47}</string>
            </dict>
            <key>goon.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{96,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,29}}</string>
                <key>sourceSize</key>
                <string>{96,29}</string>
            </dict>
            <key>level2_11bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{737,338},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,50},{58,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,54}}</string>
                <key>sourceSize</key>
                <string>{58,54}</string>
            </dict>
            <key>pricebg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{116,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,23}}</string>
                <key>sourceSize</key>
                <string>{116,23}</string>
            </dict>
            <key>qinghulu.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,128},{61,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,96}}</string>
                <key>sourceSize</key>
                <string>{61,96}</string>
            </dict>
            <key>shejing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,128},{82,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,131}}</string>
                <key>sourceSize</key>
                <string>{82,131}</string>
            </dict>
            <key>shezhitubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,50},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,76}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>shuaxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,2},{507,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,31}}</string>
                <key>sourceSize</key>
                <string>{507,31}</string>
            </dict>
            <key>talkbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,128},{655,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{655,117}}</string>
                <key>sourceSize</key>
                <string>{655,117}</string>
            </dict>
            <key>tiaozhanshibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{208,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,80}}</string>
                <key>sourceSize</key>
                <string>{208,80}</string>
            </dict>
            <key>timeicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,2},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>tunnelblood.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{161,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,21}}</string>
                <key>sourceSize</key>
                <string>{161,21}</string>
            </dict>
            <key>tunnelbloodbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{179,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,31}}</string>
                <key>sourceSize</key>
                <string>{179,31}</string>
            </dict>
            <key>tunnelbloodicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,2},{45,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,42}}</string>
                <key>sourceSize</key>
                <string>{45,42}</string>
            </dict>
            <key>wavesprite0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,50},{379,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,65}}</string>
                <key>sourceSize</key>
                <string>{379,65}</string>
            </dict>
            <key>wavesprite1.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,50},{540,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,64}}</string>
                <key>sourceSize</key>
                <string>{540,64}</string>
            </dict>
            <key>xiezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,128},{250,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,208}}</string>
                <key>sourceSize</key>
                <string>{250,208}</string>
            </dict>
            <key>yeye.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,128},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wujin.png</string>
            <key>size</key>
            <string>{1947,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43cb5bb18e1060424ba8e5423e876a96:ff58e2e3639fc30c214f017381bb7113:268c370becb2f986e887985b619806e4$</string>
            <key>textureFileName</key>
            <string>wujin.png</string>
        </dict>
    </dict>
</plist>
